a {
    color: #3490d9;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}
    /* COLORS */
    a.green {
        color: #5c957d;
    }
    a.grey {
        color: #8e9195;
    }
    
    /* ICONS */
    a.operator {
        background: url('../img/operator.png') no-repeat;
        padding-left: 17px;
    }
    a.left {
        background-image: url('../img/arrowLeft.png');
        background-repeat: no-repeat;
        background-position: 10px center;
        padding-left: 20px;
    }
    a.right {
        background-image: url('../img/arrowRight.png');
        background-repeat: no-repeat;
        background-position: 93% center;
        padding-right: 18px;
    }